# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=bcn_etl

# Airflow
AIRFLOW__CORE__FERNET_KEY=           # generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/bcn_etl

# Barcelona Open Data API
BCN_API_BASE_URL=https://opendata-ajuntament.barcelona.cat/data/api/action/
BCN_API_APP_ID=
BCN_API_APP_CODE=
